<!-- substitute 10 for Grid.max_range ; &nbsp;&nbsp;&nbsp;&nbsp; █ -->


<!-- blank first cell-->
<input type="radio" id="" name="">
<label id="blank" for="radio1"></label>

<% (@max_range).times do %><!-- number; is id & for useless? change bg-colour to white? -->
	<input type="radio" name="numbers" id="<%= @b.to_s %>" disabled=true>
	<label id="blank" for="<%= @b.to_s %>">&nbsp;&nbsp;<%= @b.to_s %></label>
	<% @b=@b.next %>
<% end %>
<br>

<% (@max_range).times do %>
	
	<!-- letter -->
	<input type="radio" name="letter" id="<%= @a.to_s %>" disabled=true>
	   <label id="blank" for="<%= @a.to_s %>"><%= @a.to_s %></label>
	   <% @a=@a.next %>

	<!-- real cell -->
	<% @symbol = @start %>
	<% (@max_range).times do %>
		<input type="radio" name="coordinate" id="<%= @symbol %>" value="<%= @symbol %>">
		<label for="<%= @symbol %>">&nbsp;&nbsp;</label>
		<% @symbol = @symbol.delete('0-9') + @symbol.delete('A-Z').next %>
	<% end %>
	<% @start = @start.delete('0-9').next + @start.delete('A-Z') %>

	<br>
<% end %>


<br>

<div>
<h4>Legend</h4>
<ul>
<li>0 - missed</li>
</ul>
</div>
